{% extends 'core/base.html' %}

{% block title %}Добавить клиента{% endblock %}

{% block content %}
    <div class="container mx-auto text-base">
        <h1 class="mt-4 mb-4 text-2xl font-bold text-dark">Добавить клиента</h1>

        {% if team.plan.max_clients > team.clients.all|length %}
            <form method="post" action=".">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn-edit">Отправить</button>
            </form>
        {% else %}
            <div class="mb-3 text-base font-semibold text-[#B45454]">
                Ваша команда достигла максимального количества клиентов.
            </div>
        {% endif %}
    </div>
{% endblock %}
