{% extends 'core/base.html' %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h1 class="mb-6 text-xl">{{ team.name }}</h1>

        <a href="{% url 'team:list' %}" class="btn-blue">Переключить команду</a>

        {% if team.created_by == request.user %}
            <a href="{% url 'team:edit' team.id %}" class="btn-blue">Редактировать</a>
        {% endif %}

        <p class="mt-6"><strong>Владелец команды:</strong> {{ team.created_by }}</p>

        <hr class="my-4">

        <h2 class="font-semibold">Участники команды:</h2>

        {% for member in team.members.all %}
            <p>{{ member.username }}</p>
        {% endfor %}
    </div>
{% endblock %}
