{% extends 'core/base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1 class="mb-6 text-xl">Профиль пользователя</h1>

    <p class="mb-2">
        <strong>Имя пользователя: </strong>{{ request.user.username }}
    </p>

    <p class="mb-2">
        {% if active_team %}
            <strong>Группа: </strong><a href="{% url 'team:detail' active_team.id %}">{{ active_team.name }}</a>

            {% if active_team.created_by == request.user %}
                <a href="{% url 'team:edit' active_team.id %}" >| &laquo; Редактировать &#187;</a>
            {% endif %}
        {% else %}
            <a href="{% url 'team:list' %}">Выберите команду</a>
        {% endif %}
    </p>

    <hr class="mb-4">

    <a href="{% url 'logout' %}" class="btn-red">Выйти из системы</a>
</div>
{% endblock %}
