{% extends 'core/base.html' %}

{% block title %}Панель задач{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1 class="mb-6 text-xl">Панель задач</h1>

    <div class="flex space-x-4">
        <div class="w-1/2 px-4 py-6 bg-gray rounded-xl leads">
            <h2 class="mb-4 text-lg">Новые заявки</h2>

            {% for lead in leads %}
                <div class="mb-2 lead">
                    <h3 class="font-semibold">{{ lead.name }}</h3>

                    <p class="">Статус: {{ lead.get_status_display }}</p>
                    <p class="mb-4">Приоритет: {{ lead.get_priority_display }}</p>

                    <a href="{% url 'leads:detail' lead.pk %}" class="btn-blue">Подробности</a>
                </div>
            {%endfor%}
        </div>

        <div class="w-1/2 px-4 py-6 bg-gray rounded-xl clients">
            <h2 class="mb-4 text-lg">Новые клиенты</h2>
            {% for client in clients %}
                <div class="mb-2 client">
                    <h3 class="mb-4 font-semibold">{{ client.name }}</h3>

                    <a href="{% url 'clients:detail' client.pk %}">&laquo;Информация о клиенте&raquo;</a>
                </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
