{% extends 'core/base.html' %}

{% block title %}{{ lead.name }}{% endblock %}

{% block content %}
    <div class="container mx-auto text-base">
        <h1 class="mt-4 mb-4 text-3xl font-bold text-dark">{{ lead.name }}</h1>

        <div class="mb-6 bg-comment" >

        {% if lead.description %}
            <p class="font-semibold">Описание:</p>
            <p class="mb-2">{{ lead.description }}</p>
        {% endif %}

        <p class="font-semibold">Приоритет:</p>
        <p class="mb-2">{{ lead.get_priority_display }}</p>

        <p class="font-semibold">Статус:</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Время создания:</p>
        <p class="mb-2">{{ lead.created_at }}</p>

        <p class="font-semibold">Время обновления:</p>
        <p class="mb-6">{{ lead.modified_at }}</p>

        </div>


        <form id="lead_delete_form" method="post" action="{% url 'leads:delete' lead.id %}">
            {% csrf_token %}
        </form>

        <a href="{% url 'leads:convert' lead.id %}" class="btn-edit">Добавить клиента</a>
        <a href="{% url 'leads:edit' lead.id %}" class="btn-edit">Редактировать</a>
        <a href="#" onclick="document.getElementById('lead_delete_form').submit();" class="btn-edit">Удалить</a>

        <hr class="mb-10 mt-10 my-4">

        <h2 class="mb-6 text-xl">Примечания</h2>

        <div class="space-y-4">
            {% for comment in lead.comments.all %}
                <div class="bg-comment">
                    <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>

                    {{ comment.content }}
                </div>
            {% endfor %}
        </div>

        <hr class="mb-10 mt-10 my-4">

<!--        <h2 class="mb-6 text-xl">Введите примечания</h2>-->

        <form method="post" action="{% url 'leads:add_comment' lead.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="mt-6 btn-edit">Отправить</button>

        </form>

        <hr class="mb-10 mt-10 my-4">

        <h2 class="mb-6 text-xl">Прикрепленные файлы</h2>

        <div class="mb-6 space-y-4">
            {% for file in lead.files.all %}
                <div class="bg-comment">
                    <p class="mb-2"><strong>{{ file.created_by }}</strong> | {{ file.created_at }}</p>

                    <a href="{{ file.file.url }}" target="_blank">&laquo; Скачать &raquo;</a>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'leads:add_file' lead.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}

            <button class="mt-6 btn-edit">Отправить</button>

        </form>

        <hr class="my-4">

        <a href="{% url 'leads:list' %}">&lArr;  Назад к заявкам</a>
    </div>
{% endblock %}
